/* Contenedor de general */
.container-main
{
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100vh;
/*     width: 100vw; */
}
/* Estilo de tabla */
table
{
    border-collapse: collapse;
}
/* Tabla */
.tabla
{
    display: grid;
    justify-self: center;
    border: 1px solid red;
    min-width: fit-content;
    max-width: 80vw;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
}
/* reglas de la tabla */
/* grupo */
.reglaHorizontal
{
     min-width: 5em;
     max-width: 5em !important;
    /*  border: 1px solid red; */
}
/* periodo */
.reglaVertical
{
    height: 5em;
    min-width: 1.3em;
    /* border: 1px solid red; */
    text-align: center;
}

/* Vista del elemento */
.elemento
{
    background: whitesmoke;
    min-height: 15em;
    height: 100%;
    width: 100%;
    border-radius: 1em;
    position: relative;
    display: grid;
    font-weight: 900;
}
.sec-vista
{
    padding: .5em;
}
/* Elementos de vista del elemento */
.numeroAtomico-view
{
    position: absolute;
    font-size: 150%;
    top: .5em;
    right: .6em;
}
.simboloElemento-view
{
    font-size: 500%;
    text-align: center;
    align-self: center;
}
.masInfo-elemento
{
    position:absolute;
/*     border: 1px solid rebeccapurple; */
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 150%;
    bottom: .6em;
    left: 0;
    right: 0;
}
.pesoAtomico
{
    display: block;
    width: 100%;
}
.yearDescubrimiento
{
    display: block;
    width: 100%;
    /* position: absolute; */
}


/* Nombre de grupos */
.groups
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
    /* border: 1px solid red; */
}
.i-g
{
    /* border: 1px solid red; */
}
.i-g p
{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
}

.group-sec1,.group-sec2
{
    display: grid;
    height: 100%;
    align-content: space-evenly;
    align-items: center;
}

/* colores de los elementos */
.cuadroColor
{
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: .2em;
    margin-right: .2em;
}
.noMetales
{
    background: #8BC34A;
}
.metalAlcalinos
{
    background: #FF9800;
}
.metalAlcalinote
{
    background: #FFC107;
}
.gasNoble
{
    background: #04AAF5;
}
.metaloide
{
    background: #4DB6AC;
}
.halogenos
{
    background: #26C6DA;
}
.metalTransi
{
    background: #C68A8A;
}
.metalbloque
{
    background: #90A4AE;
}
.lantanidos
{
    background: #F69988;
}
.actidos
{
    background: #B39DDB;
}

/* Numero atomicos  */
.numeroAtomico
{
    font-size: 110%;
    position: absolute;
    top: .5em;
    right: .6em;
}
.simboloElemento
{
    font-size: 250%;
}

.numeroAtomico-cs
{
    font-size: 110%;
    position: absolute;
    top: .5em;
    right: 0;
    left: 0;
}
.simboloElemento-cs
{
    align-self: flex-end;
    font-size: 170%;
    margin-bottom: .2em;
}


/* Botones de cada elemento */
.btn-element
{
    width: 5.9em;
    height: 5.9em;
    border-radius: 1em;
    padding: .5em;
    border: none;
    font-weight: 800;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
}
/* Boton seleccionado */
.seleccionado
{
    box-shadow: 0px 0px 15px #00000075;
    border: 2px solid black;
    filter: contrast(2);
}




