/* Contenedor de general */
.container-main
{
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100vh;
/*     width: 100vw; */
}
/* Estilo de tabla */
table
{
    border-collapse: collapse;
}
/* Tabla */
.tabla
{
    display: grid;
    justify-self: center;
    /* border: 1px solid red; */
    min-width: fit-content;
    max-width: 80vw;
    width: 100%;
    height: 100%;
    overflow: auto;
    justify-content: center;
}
/* reglas de la tabla */
/* grupo */
.reglaHorizontal
{
     min-width: 5em;
     max-width: 5em !important;
    /*  border: 1px solid red; */
}
/* periodo */
.reglaVertical
{
    height: 5em;
    min-width: 1.3em;
    /* border: 1px solid red; */
    text-align: center;
}

/* Vista del elemento */
.elemento
{
    background: whitesmoke;
    min-height: 15em;
    height: 100%;
    width: 100%;
    border-radius: 1em;
}
#infoElemento
{
    min-height: 15em;
    height: 100%;
    width: 100%;
    border-radius: 1em;
    position: relative;
    display: grid;
    font-weight: 900;
}
.sec-vista
{
    padding: .5em;
    position: relative;
}
/* Elementos de vista del elemento */
.numeroAtomico-view
{
    position: absolute;
    font-size: 150%;
    padding: .12em .2em;
    inline-size: fit-content;
    top: .3em;
    right: .4em;
    cursor: pointer;
}
.simboloElemento-view
{
    font-size: 500%;
    text-align: center;
    cursor: context-menu;
    position: absolute;
    top: .48em;
    right: 0;
    left: 0;
}
.masInfo-elemento
{
    position:absolute;
    /* border: 1px solid rebeccapurple; */
    justify-self: center;
    text-align: center;
    font-size: 150%;
    bottom: .6em;
}
.nameElement
{   
    font-size: 150%;
    text-align: center;
    position: absolute;
    justify-self: center;
    top: 
    55%;
    display: block;
    cursor: pointer;
    padding: 0 .2em;
}
.pesoAtomico
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 0 .2em;
}
.yearDescubrimiento
{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 .2em;
    position: relative;
    /* position: absolute; */
}

/* Animaciones de descipcion */ 
.numeroAtomico-view:hover
{
    box-shadow: 0px 0px 1px 2px white;
    border-radius:  50%;
}
.numeroAtomico-view:hover::before
{
    content: "Número atómico";
    position: absolute;
    font-size: 16px;
    top: -.1em;
    left: -4.5em;
    color: white;
}
/* Animaciones de peso atomico */ 
.pesoAtomico:hover
{
    box-shadow: 0px 0px 0px 2px white;
    border-radius: .5em;
    background: rgba(0, 0, 0, 0.459);
}
.pesoAtomico:hover::before
{
    content: "Peso atómico";
    width: fit-content;
    position: absolute;
    font-size: 16px;
    color: white;
    line-height: .9em;
}
/* Animaciones de año */ 
.yearDescubrimiento:hover
{
    box-shadow: 0px 0px 0px 2px white;
    border-radius: .5em;
    background: rgba(0, 0, 0, 0.459);
}
.yearDescubrimiento:hover::before
{
    content: "Año";
    width: fit-content;
    position: absolute;
    font-size: 16px;
    color: white;
}

/* Nombre de grupos */
.groups
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    height: 100%;
    cursor: context-menu;
    /* border: 1px solid red; */
}
.i-g
{
    /* border: 1px solid red; */
}
.i-g p
{
    display: flex;
    align-items: center;
    font-weight: 700;
    font-size: 17px;
}

.group-sec1,.group-sec2
{
    display: grid;
    height: 100%;
    align-content: space-evenly;
    align-items: center;
}

/* colores de los elementos */
.cuadroColor
{
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: .2em;
    margin-right: .2em;
}
.noMetales
{
    background: #8BC34A !important;
}
.metalAlcalinos
{
    background: #FF9800 !important;
}
.metalAlcalinote
{
    background: #FFC107 !important;
}
.gasNoble
{
    background: #04AAF5 !important;
}
.metaloide
{
    background: #4DB6AC !important;
}
.halogenos
{
    background: #26C6DA !important;
}
.metalTransi
{
    background: #C68A8A !important;
}
.metalbloque
{
    background: #90A4AE !important;
}
.lantanidos
{
    background: #F69988 !important;
}
.actidos
{
    background: #B39DDB !important;
}

/* Numero atomicos  */
.numeroAtomico
{
    font-size: 110%;
    position: absolute;
    top: .5em;
    right: .6em;
}
.simboloElemento
{
    font-size: 250%;
}

.numeroAtomico-cs
{
    font-size: 110%;
    position: absolute;
    top: .5em;
    right: 0;
    left: 0;
}
.simboloElemento-cs
{
    align-self: flex-end;
    font-size: 170%;
    margin-bottom: .2em;
}


/* Botones de cada elemento */
.btn-element
{
    width: 5.9em;
    height: 5.9em;
    border-radius: 1em;
    padding: .5em;
    border: none;
    font-weight: 800;
    display: flex;
    position: relative;
    align-items: flex-end;
    justify-content: center;
}
/* accion de pasar por un boton */
.btn-element:hover
{
    box-shadow: 0px 0px 15px #00000075;
    border: 2px solid black;
    filter: contrast(1.5);
}
/* Boton seleccionado */
.seleccionado
{
    box-shadow: 0px 0px 15px #00000075;
    border: 2px solid black;
    filter: contrast(2);
}
/* Grupo que al que pertenece */
.i-g > p
{
    position: relative;
}
.grupo-seleccionado::after
 {
     content: "";
     display: block;
     width: 100%;
     height:100%;
     background: rgba(0, 0, 0, 0.15);
     border-radius: 1em;
     position: absolute;
     left: -.5em;
 }

/* Seccion de reglas */
.reglaSelect
{
    background: #00000024;
    border-radius: 1em;
}

/* Indicaion inicial */
.indicacion
{
    font-size: 2em;
    position: absolute;
    width: fit-content;
    text-align: center;
    align-self: center;
}
.indicacion > span
{
    display: block;
     font-size: 16px;
}